@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

a[data-route] {
  cursor: pointer;
}

a[data-route].active {
  font-weight: bold;
}



/* Cocktail card css */

.ctCard{
  padding-inline: .5rem;
  padding-block: 1rem;
  display: flex;
    width: 10rem;
  flex-direction: column;
  position: relative;
}
.ctCardImg{
  height: 10rem;
  object-fit: contain;
}
.ctName{
  text-align: center;
  

}
.ctBackgroundBox{
  border-radius: 1rem;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 6rem;
  bottom: 0;
  background-color: #999;
}
.underAnimation{
  position: relative;
}
.underAnimation:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underAnimation:hover:after { 
  width: 100%; 
  left: 0; 
}

.selectedNav::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

.imgArea::before {
  content: attr(data-img);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
  z-index: 200;
}

.imgArea._active:hover::before {
  opacity: 1;
}

.imgArea img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;  
  z-index: 100;
}
