                    <div class="ctCartItem
                    | flex items-center">
                        <p class="ctName break-all  whitespace-normal mr-auto">Extra dry martini</p>
                        <div class="ctCartItem
                        | flex justify-between items-center">
                            <button class="ctMinus ml-3 p-1">-</button>
                            <p class="ctAmount">1</p>
                            <button class="ctPlus p-1  ">+</button>
                        </div>
                        <p class="ctPrice ml-3">1000Ft</p>
                        <button class="ctXButton ml-3 bg-slate-900 text-zinc-400 px-2  rounded-full">X</button>
                    </div>