<div class="col-start-1">
    <div class="grid grid-flow-col justify-start">
        <label for="name" id="lblName" class="inline-block m-1">Név: </label>
        <input type="text" name="name" id="nameInput" class="inline-block m-1">
    </div>

    <div class="grid grid-flow-col justify-start">
        <label for="price" class="inline-block m-1">Ár: </label>
        <input type="text" name="price" id="priceInput" class="inline-block m-1">
    </div>

    <div class="grid grid-flow-col justify-start">
        <label for="description" class="inline-block m-1">Leírás: </label>
        <input type="text" name="description" id="descriptionInput" class="inline-block m-1">
    </div>

    <div class="grid grid-flow-col justify-start">
        <label for="category" class="inline-block m-1">Kategória: </label>
        <select name="category" id="categoryInput" class="inline-block m-1">
            <option value="base"></option>
            <option value="longDrink">Hosszú italok</option>
            <option value="wine">Borok & Pezsgők</option>
            <option value="cocktail">Koktélok</option>
            <option value="beer">Sörök & Ciderek</option>
            <option value="softDrink">Üdítők</option>
        </select>
    </div>

</div>

<div class="col-start-2">
    <img src="" alt="" id="imgInput">
</div>

<div class="grid justify-center bg-yellow-300 col-start-3">
    <button class="bg-blue-300">Hozzáadás</button>
    <button class="bg-red-300">Mégsem</button>
</div>